<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Country</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>
</div>
<!--новый юзер-->
<div class="container">
    <h1>MyForm</h1>
    <form id="newUserForm">
        <div class="form-group">
            <label class="col-form-label" for="name" style="display: block;
                                                                        text-align: center;"><b>Name</b></label>
            <input class="form-control" type="text" name="name" id="name"
                   placeholder="Enter name"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="age" style="display: block;
                                                                        text-align: center;"><b>Age</b> </label>
            <input class="form-control" type="number" name="age" step="1" min="1" max="150" id="age"
                   placeholder="Enter age"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="country" style="display: block;
                                                                        text-align: center;"><b>Country</b> </label>
            <input class="form-control" type="text" name="country" id="country"
                   placeholder="Enter country"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="email" style="display: block;
                                                                        text-align: center;"><b>Email</b> </label>
            <input class="form-control" type="text" name="email" id="email"
                   placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="password" style="display: block;
                                                                        text-align: center;"><b>Password</b> </label>
            <input class="form-control" type="password" name="password" id="password"
                   placeholder="Enter password"/>
        </div>
        <div class="form-group">
            <label class="col-form-label" for="roles" style="display: block;
                                                                        text-align: center;"><b>Roles</b> </label>
            <select id="roles" name="roles" multiple="multiple">
                <option value="1">USER</option>
                <option value="2"
                >ADMIN
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>
<!--новый юзер-->
<!-- model edit-->
<div class="myForm">
    <form class="editUser">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id1" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id1" name="id" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="name1" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name1" name="name" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="age1" class="col-form-label">Age:</label>
                            <input type="text" class="form-control" id="age1" name="age" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="country1" class="col-form-label">Country:</label>
                            <input type="text" class="form-control" id="country1" name="country" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="email1" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email1" name="email" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="password1" name="password" value=""/>
                        </div>
                        <label for="roles1" class="col-form-label">Roles:</label>
                        <select id="roles1" name="roles" multiple="multiple">
                            <option value="1">USER</option>
                            <option value="2"
                            >ADMIN
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<!-- model edit-->


<!-- delete edit-->
<div class="myForm">
    <form class="deleteUser">
        <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalDeleteLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id2" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id2" name="id" value="" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="name2" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name2" name="name" value="" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="age2" class="col-form-label">Age:</label>
                            <input type="text" class="form-control" id="age2" name="age" value="" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="country2" class="col-form-label">Country:</label>
                            <input type="text" class="form-control" id="country2" name="country" value="" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="email2" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email2" name="email" value="" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="password2" name="password" value="" disabled/>
                        </div>
                        <label for="roles2" class="col-form-label">Roles:</label>
                        <select id="roles2" name="roles" multiple="multiple" disabled>
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="delete"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<!-- delete edit-->

<script src="/main.js"></script>

<script src="/newUserJS.js"></script>
<!--<script>-->

<!--    function renderPage() {-->
<!--        fetch('http://localhost:8080/api/admin/users').then(-->
<!--            res => {-->
<!--                res.json().then(-->
<!--                    data => {-->
<!--                        console.log(data);-->
<!--                        if (data.length > 0) {-->
<!--                            var temp = "";-->
<!--                            //&#45;&#45;start loop-->
<!--                            data.forEach((u, index) => {-->
<!--                                temp += "<tr>";-->
<!--                                temp += "<td>" + u.id + "</td>";-->
<!--                                temp += "<td>" + u.name + "</td>";-->
<!--                                temp += "<td>" + u.age + "</td>";-->
<!--                                temp += "<td>" + u.country + "</td>";-->
<!--                                temp += "<td>" + u.email + "</td>";-->
<!--                                temp += "<td>" + u.roles.map(function (item) {-->
<!--                                    return item['name'];-->
<!--                                }) + "</td>"-->
<!--                                temp += "<td> <a  data-href='http://localhost:8080/api/admin/users/" + u.id + "' class=\"btn btn-primary eBtn\" data-index=" + index + ">Edit</a>"-->
<!--                                    + "</td>"-->
<!--                                temp += "<td> <a data-href='http://localhost:8080/api/admin/users/" + u.id + "' class=\"btn btn-danger dBtn\" data-index=" + index + ">Delete</a>"-->
<!--                                    + "</td></tr>";-->

<!--                            })-->
<!--                            $(document).ready(function () {-->
<!--                                $('.table .eBtn').on('click', function (event) {-->
<!--                                    event.preventDefault();-->
<!--                                    let href = event.target.getAttribute('data-href')-->
<!--                                    var text = $(this).text();-->
<!--                                    $.get(href, function (user, status) {-->
<!--                                        $('.myForm #id1').val(user.id);-->
<!--                                        $('.myForm #name1').val(user.name);-->
<!--                                        $('.myForm #age1').val(user.age);-->
<!--                                        $('.myForm #country1').val(user.country);-->
<!--                                        $('.myForm #email1').val(user.email);-->
<!--                                        $('.myForm #password1').val(user.password);-->
<!--                                        $('.myForm #roles1').val(user.roles);-->
<!--                                    });-->


<!--                                    $('.myForm #exampleModal').modal();-->

<!--                                })-->
<!--                            });-->

<!--                            let formEdit = document.querySelector('.editUser')-->
<!--                            formEdit.addEventListener('submit', async (e) => {-->
<!--                                e.preventDefault();-->
<!--                                let id = document.querySelector('#id1');-->
<!--                                let name = document.querySelector('#name1');-->
<!--                                let age = document.querySelector('#age1');-->
<!--                                let email = document.querySelector('#email1')-->
<!--                                let password = document.querySelector('#password1');-->
<!--                                let country = document.querySelector('#country1');-->
<!--                                let roles = document.querySelector('#roles1');-->
<!--                                let role;-->
<!--                                if (roles.value === "1") {-->
<!--                                    role = [{-->
<!--                                        id: 1,-->
<!--                                        name: "ADMIN",-->
<!--                                        authority: "ADMIN"-->
<!--                                    }]-->
<!--                                }-->
<!--                                if (roles.value === "2") {-->
<!--                                    role = [{-->
<!--                                        id: 2,-->
<!--                                        name: "USER",-->
<!--                                        authority: "USER"-->
<!--                                    }]-->
<!--                                }-->

<!--                                let jsonobject =-->
<!--                                    {-->
<!--                                        id:+id.value,-->
<!--                                        name: name.value,-->
<!--                                        age:+age.value,-->
<!--                                        email: email.value,-->
<!--                                        password: password.value,-->
<!--                                        country: country.value,-->
<!--                                        roles: role,-->
<!--                                    }-->
<!--                                console.log(jsonobject);-->
<!--                                try {-->
<!--                                    const responce = await fetch(`http://localhost:8080/api/admin/users/save/`, {-->
<!--                                        method: 'PUT',-->
<!--                                        body: JSON.stringify(jsonobject),-->
<!--                                        headers: {-->
<!--                                            'Content-Type': 'application/json',-->
<!--                                        }-->
<!--                                    });-->
<!--                                    const json = await responce.json()-->
<!--                                    renderPage();-->
<!--                                    // $('.myForm #exampleModal').close();-->
<!--                                    console.log(json)-->

<!--                                } catch (e) {-->
<!--                                    console.error(e)-->
<!--                                    alert('there was an error')-->
<!--                                }-->
<!--                            })-->
<!--                            $(document).ready(function () {-->
<!--                                $('.table .dBtn').on('click', function (event) {-->
<!--                                    event.preventDefault();-->
<!--                                    let href = event.target.getAttribute('data-href')-->
<!--                                    var text = $(this).text();-->
<!--                                    $.get(href, function (user, status) {-->
<!--                                        $('.myForm #id2').val(user.id);-->
<!--                                        $('.myForm #name2').val(user.name);-->
<!--                                        $('.myForm #age2').val(user.age);-->
<!--                                        $('.myForm #country2').val(user.country);-->
<!--                                        $('.myForm #email2').val(user.email);-->
<!--                                        $('.myForm #password2').val(user.password);-->
<!--                                        $('.myForm #roles2').val(user.roles);-->
<!--                                    });-->


<!--                                    $('.myForm #exampleModalDelete').modal();-->

<!--                                })-->
<!--                            });-->
<!--                            let formDelete = document.querySelector('.deleteUser')-->
<!--                            formDelete.addEventListener('submit', async (e) => {-->
<!--                                e.preventDefault();-->
<!--                                let id = document.querySelector('#id2');-->
<!--                                let name = document.querySelector('#name2');-->
<!--                                let age = document.querySelector('#age2');-->
<!--                                let email = document.querySelector('#email2')-->
<!--                                let password = document.querySelector('#password2');-->
<!--                                let country = document.querySelector('#country2');-->
<!--                                let roles = document.querySelector('#roles2');-->
<!--                                let role;-->
<!--                                if (roles.value === "1") {-->
<!--                                    role = [{-->
<!--                                        id: 1,-->
<!--                                        name: "ADMIN",-->
<!--                                        authority: "ADMIN"-->
<!--                                    }]-->
<!--                                }-->
<!--                                if (roles.value === "2") {-->
<!--                                    role = [{-->
<!--                                        id: 2,-->
<!--                                        name: "USER",-->
<!--                                        authority: "USER"-->
<!--                                    }]-->
<!--                                }-->

<!--                                let jsonobject =-->
<!--                                    {-->
<!--                                        id:+id.value,-->
<!--                                        name: name.value,-->
<!--                                        age:+age.value,-->
<!--                                        email: email.value,-->
<!--                                        password: password.value,-->
<!--                                        country: country.value,-->
<!--                                        roles: role,-->
<!--                                    }-->
<!--                                console.log(jsonobject);-->
<!--                                try {-->
<!--                                    const responce = await fetch(`http://localhost:8080/api/admin/users/delete/${id.value}`, {-->
<!--                                        method: 'DELETE',-->
<!--                                        body: JSON.stringify(jsonobject),-->
<!--                                        headers: {-->
<!--                                            'Content-Type': 'application/json',-->
<!--                                        }-->
<!--                                    });-->
<!--                                    const json = await responce.json()-->
<!--                                    renderPage();-->
<!--                                    // $('.myForm #exampleModal').close();-->
<!--                                    console.log(json)-->

<!--                                } catch (e) {-->
<!--                                    console.error(e)-->
<!--                                }-->
<!--                            })-->
<!--                            //end loop-->
<!--                            document.getElementById("data").innerHTML = temp;-->
<!--                        }-->
<!--                    }-->
<!--                )-->

<!--            }-->
<!--        )-->
<!--    }-->

<!--    renderPage();-->
<!--</script>-->
<!--<script>-->


<!--    const url1 = 'http://localhost:8080/api/admin/users/save'-->
<!--    const form = document.getElementById("newUserForm")-->
<!--    form.addEventListener('submit', async (e) => {-->
<!--        e.preventDefault();-->
<!--        let name = document.querySelector('#name');-->
<!--        let age = document.querySelector('#age');-->
<!--        let email = document.querySelector('#email')-->
<!--        let password = document.querySelector('#password');-->
<!--        let country = document.querySelector('#country');-->
<!--        let roles = document.querySelector('#roles');-->
<!--        console.log(roles.value);-->
<!--        let role;-->
<!--        if (roles.value === "1") {-->
<!--            role = [{-->
<!--                id: 1,-->
<!--                name: "ADMIN",-->
<!--                authority: "ADMIN"-->
<!--            }]-->
<!--        }-->
<!--        if (roles.value === "2") {-->
<!--            role = [{-->
<!--                id: 2,-->
<!--                name: "USER",-->
<!--                authority: "USER"-->
<!--            }]-->
<!--        }-->

<!--        let jsonobject =-->
<!--            {-->
<!--                name: name.value,-->
<!--                age: age.value,-->
<!--                email: email.value,-->
<!--                password: password.value,-->
<!--                country: country.value,-->
<!--                roles: role,-->
<!--            }-->
<!--        try {-->
<!--            const responce = await fetch(url1, {-->
<!--                method: 'POST',-->
<!--                body: JSON.stringify(jsonobject),-->
<!--                headers: {-->
<!--                    'Content-Type': 'application/json',-->
<!--                }-->
<!--            });-->
<!--            const json = await responce.json()-->
<!--            renderPage();-->

<!--        } catch (e) {-->
<!--            console.error(e)-->
<!--            alert('there was an error')-->
<!--        }-->

<!--    })-->


<!--</script>-->
</body>
</html>